html {
  height: 100%;
}
body {
  background: #333;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 16px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body > * {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
canvas {
  border: 1px dotted #666;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
